<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UI.Properties.Settings.studentConnectionString" connectionString="Data Source=LAPTOP-3GE54TPV;Initial Catalog=student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>